.framework-dropdown {
  margin-right: auto;
  position: relative;
}

/**
 * Framework toggle
 */

.framework-toggle {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.02em;
  user-select: none;
}

.framework-toggle__select {
  cursor: pointer;
  transition: color 150ms ease;
}

.framework-toggle__select:hover {
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.framework-toggle__select > svg {
  fill: currentColor;
  padding-left: 8px;
  vertical-align: middle;
  width: 6px;
}


/**
 * Framework dropdown panel
 */

.framework-panel {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 40px 80px rgba(42,58,87,0.10),
              0 16px 32px rgba(42,58,87,0.15),
              0 04px 14px rgba(00,00,00,0.10);
  list-style: none;
  min-width: 460px;
  opacity: 0;
  overflow: hidden;
  padding-left: 0;
  pointer-events: none;
  position: absolute;
  top: calc(100% - 10px);
  transform: translateY(0);
  transition: 100ms opacity ease-out, 100ms transform ease-out;
}

.framework-panel.is-active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(5px);
}


/**
 * Framework dropdown new tab icon colors
 */

.framework-dropdown .new-tab__box {
  fill: #d1dae8;
}

.framework-dropdown .new-tab__arrow {
  fill: #a4aec2;
}

.framework-dropdown  a:hover .new-tab__box {
  fill: #aad4fd;
}

.framework-dropdown a:hover .new-tab__arrow {
  fill: #3d83fb;
}


/**
 * Framework dropdown item
 */

.framework-dropdown-item {
  font-size: 12px;
}

.framework-dropdown-item a {
  display: block;
  padding: 10px 32px;
}

.framework-dropdown-item strong,
.framework-dropdown-item span {
  display: block;
  transition: color 150ms ease;
}

.framework-dropdown-item strong {
  color: var(--blacker);
  font-size: 1.25em;
}

.framework-dropdown-item:not(.is-external) strong {
  margin-bottom: 0.2em;
}

.framework-dropdown-item span {
  color: var(--gray);
  font-weight: 600;
}

.framework-dropdown-item a:hover strong {
  color: var(--blue);
}

.framework-dropdown-item a:hover span {
  color: var(--darkish);
}

.framework-dropdown-item:first-child a {
  padding-top: 24px;
}

.framework-dropdown-item:last-child a {
  padding-bottom: 24px;
}

.framework-dropdown-item.is-external a {
  align-items: baseline;
  background-color: var(--whiter);
  display: flex;
}

.framework-dropdown-item:not(.is-external) + .is-external a {
  margin-top: 12px;
  padding-top: 24px;
}

.framework-dropdown-item.is-external strong {
  margin-right: 1em;
}


// TODO Dropdown item icons and active checkmark
