@import './framework-dropdown';
@import './ecosystem-dropdown';


/**
 * site-header
 */
:host {
  align-self: stretch;
  background-color: var(--blue);
  color: var(--header-color);
  font-family: var(--font-family-eina);
  grid-area: header;
  padding-left: 2rem;
  padding-right: 1.2rem;
  position: sticky;
  top: 0;
  white-space: nowrap;
  z-index: 1;

  @media (max-width: $breakpoint-md)  {
    padding-left: 24px;
    padding-right: 32px;
  }
}

nav {
  align-items: center;
  display: flex;
  height: 100%;
}

a {
  text-decoration: none;
}


/**
 * Optical centering
 */

.ecosystem-dropdown,
.framework-toggle,
.github-link {
  padding-top: 2px;
}


/**
 * Mobile nav toggle
 */
.nav-toggle {
  background-color: transparent;
  border: none;
  color: inherit;
  height: 1rem;
  margin-right: 1em;
  padding: 0;
  width: 1rem;

  @media (min-width: 700px) {
    display: none;
  }
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle.is-open {
  color: white;
}

.nav-toggle > svg {
  fill: currentColor;
}


/**
 * Docs logo
 */
.docs-logo {
  display: flex;
  width: 24px;
  height: 24px;
  transition: opacity 200ms ease;
}

.docs-logo:hover {
  opacity: 0.9;
}

.docs-logo > svg {
  fill: white;
  width: 100%;
}


/**
 * GitHub link
 */
.github-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-weight: 600;
  margin-left: 28px;
  transition: color 200ms ease;
}

.github-link:hover {
  color: white;
}


/**
 * New tab icon
 */
.new-tab {
  height: 0.8em;
  margin-left: 0.4em;
  width: auto;
}

.new-tab__box,
.new-tab__arrow {
  transition: fill 200ms ease;
}

.new-tab__box {
  fill: #62a6ff;
}

.new-tab__arrow {
  fill: var(--header-color);
}

a:hover .new-tab__box {
  fill: #96ccff;
}

a:hover .new-tab__arrow {
  fill: white;
}
